$def with (username,tags,form_add_tag)
<html>
	<head>
		
		<link type="text/css" href="/s/css/smoothness/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="/s/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/s/js/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/s/js/jquery.form.js"></script>

		<script type="text/javascript">
		$$(document).ready( function() {
				$$("form#add_tag_form").ajaxForm({
				url:'/ajax/tags/add/',
				dataType:'json',
				type:'post',
				success:function(data) 
				{
					if (data['errors'] == undefined)
					{
						$$('<li>'+data['response']+'</li>').appendTo('#tags');
					$$("#message").html(data['message']);
					}
					else
					{
						
					$$("#message").html(data['message'] +' - '+data['errors']['tag']);
					};
					$$("form#add_tag_form").clearForm();
					//alert(data)
				}
				});

		}); 
		</script>
	</head>
	<body>
$username
<ul id="tags">
$for tag in tags
	<li>$tag</li>
</ul>
<form id="add_tag_form">
$:form_add_tag.render() <input type="submit" id="add_tag" value="Add tag"/>
<div id="message"></div>
</form>
	</body>
</html>
